// components/PageSpecific/Index/ProfileImage.module.scss

@import "../../../theme/theme";

.ProfileImage {
    
    display: flex;
    flex-direction: column;
    align-items: center;

    img{
        width: 400px;
        border-radius: 50%;
        border-style: solid;
        border-color: $on-secondary;
        margin: 20px;
    }

    .ProfileTitle{
        max-width: 600px;
    }

    @media screen and (orientation:landscape) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .ProfileTitle{
            justify-content: flex-start;
        }
        img {
            justify-content: flex-end;
        }
    }
    
}