// components/PageSpecific/Index/ProfileImage.module.scss

@import "../../../theme/theme";

.ProfileImage {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 0 1em;

    img{
        max-width: 19em;
        border-radius: 50%;
        border-style: solid;
        border-color: $on-secondary;
        margin: 2em 1em;
    }

    .ProfileTitle{
        max-width: 30em;

        h2 {
            color: $on-secondary-dark;
        }
    }

    @media screen and (orientation:landscape) {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        .ProfileTitle{
            justify-content: flex-start;
        }
        img {
            justify-content: flex-end;
        }
    }
    
}