// components/PageSpecific/Projects/ProjectCardGroup.module.scss

.ProjectCardGroup{
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 70em) {
        margin: 0 2em;
    }
    @media screen and (min-width: 80em) {
        margin: 0 4em;
    }
    @media screen and (min-width: 90em) {
        margin: 0 6em;
    }
    @media screen and (min-width: 100em) {
        margin: 0 8em;
    }
    @media screen and (min-width: 110em) {
        margin: 0 11em;
    }
    @media screen and (min-width: 120em) {
        margin: 0 14em;
    }

}