// components/PageSpecific/Projects/ProjectCard.module.scss

@import "../../../theme/theme";

.ProjectCard {
    border-style: solid;
    border-color: $on-secondary;
    border-radius: 10px; /* 5px rounded corners */
    flex: 1 0 500px;
    box-sizing: border-box;
    margin: .5rem .5em;

    @media screen and (min-width: 20em) {
        max-width: calc(100% - 1em);
    }

    @media screen and (min-width: 40em) {
        max-width: calc(50% - 1em);
    }

    @media screen and (min-width: 60em) {
        max-width: calc(33% - 1em);
    }

    @media screen and (min-width: 80em) {
        max-width: calc(25% - 1em);
    }

    img {
        flex: inherit;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        max-width: 100%;
    }

    .container {
        padding: 0px 15px;

        .CardHeader{
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            .CardTitle{
                justify-content: flex-start;
            }
            .CardLinks{
                color: $logo;
                justify-content: flex-end;
            }
        }

        .CardContent {
            
            color: $on-secondary-dark;
            padding-bottom: 10px;
            a {
                color: $logo;
            }
        }

    }
}