// theme/_fonts.scss

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:wght@200|Source+Code+Pro:wght@300');

$logo-font: 'Source Code Pro', monospace;
$header-font: 'Roboto', sans-serif;
$core-font: 'Roboto', sans-serif;