// theme/_fonts.scss

@import url('https://fonts.googleapis.com/css?family=Open+Sans:wght@300|Source+Code+Pro:wght@300');

$logo-font: 'Source Code Pro', monospace;
$header-font: 'Open Sans', sans-serif;
$core-font: 'Open Sans', sans-serif;